<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>文化公司</string>
		<key>image</key>
		<string>wenhua</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨澜</string>
		<key>image</key>
		<string>yanglan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>担保公司</string>
		<key>image</key>
		<string>danbao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>于丹</string>
		<key>image</key>
		<string>yudan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海产公司</string>
		<key>image</key>
		<string>seagull</string>
	</dict>
</array>
</plist>
